# Ignore virtual environment
.venv/
venv/
env/

# # Ignore node_modules
node_modules/

# Ignore Python virtual environment
venv/

# Ignore environment variables
.env

# Ignore temporary files
__pycache__/
*.pyc
